/* Definindo variáveis das cores padrão */
:root {
  --light_blue: rgb(65, 160, 235);
  --dark_blue: rgb(10, 70, 115);
  --blue: rgb(30, 90, 135);
  --background_blue: rgb(240, 250, 255);
  --line_blue: rgb(212, 227, 234);

  --white: rgb(255, 255, 255);

  --background_purple: rgb(225, 215, 240);
  --purple: rgb(95, 30, 175);
  --dark_purple: rgb(50, 16, 114);
  --light_purple: rgb(140, 75, 220);

  --dark_gray: rgb(20, 20, 20);
}

/* Definindo configurações padrões para todos os elementos da página */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.5s;
  color: var(--dark_gray);
}

/* A partir daqui começam as configurações de alinhamento */

/* Configurações para alinhamento no centro */
.alignCenter {
  display: flex;
  justify-content: center;
}

/* Configurações de alinhamento em coluna */
.columnAlign {
  flex-direction: column;
}

/* A partir daqui começam as configurações do cabeçalho */

/* Configurações do cabeçalho */
header {
  background-color: var(--dark_blue);
  height: 5rem;
  padding: 1rem;
}

/* Configurações de nav dentro de Header */
header nav {
  gap: 1rem;
}

/* Configurações dos links dentro de navegação do Header */
header nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  padding: 1rem;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
}

/* Configurações de hover dos links em nav */
header nav a:hover {
  background-color: var(--blue);
}

/* Configurações do botão de menu hamburguer */
#hamburgerMenuButton {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  display: none;
  height: fit-content;
}

/* Configurações do ícone do botão do menu hamburger */
#hamburgerMenuButton .icon {
  color: var(--white);
}

/* A partir daqui começam as configurações do main */

/* Configurações padrão para todos os sections */
section {
  padding: 5rem;
  min-height: 95vh;
}

/* Configurações da seção de profile */
#profile {
  gap: 4rem;
  align-items: center;
  position: relative;
  background-color: var(--background_blue);
}

/* Configurações da div que abriga o conteúdo da seção profile */
#profile>div {
  gap: 4rem;
}

/* Configurações da div de informações em profile */
.profileInfo {
  gap: 1rem;
  /* align-items: flex-start; */
  text-align: center;
  justify-content: flex-start;
}

/* Configurações do nome e da descrição em profile */
.profileInfo h1,
.profileInfo p {
  width: 100%;
}

/* Configurações da div de sobre mim */
.aboutMe {
  display: flex;
  gap: 2rem;
  text-align: justify;
}

/* Configurações do texto de ano */
.year {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

/* Configurações da linha de separação */
.line {
  height: 1px;
  width: 100%;
  background-color: var(--line_blue);
  margin: 1.5rem 0;
}

/* Configurações de h2 */
h2 {
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Configurações do h1 */
h1 {
  color: var(--blue);
}

/* Configurações da foto de perfil*/
.profilePhoto {
  aspect-ratio: 13 / 9;
  width: 35rem;
  object-fit: cover;
  border: 1px solid grey;
  border-radius: 1rem;
  box-shadow: -3px 3px var(--blue);
}

/* A partir daqui, estarão as configurações do nextButton */

/* Configurações de todos os botões */
.nextButton {
  position: absolute;
  bottom: -2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Configurações do nextButton de Profile */
#profileButton {
  background-color: var(--background_blue);
}

/* Configurações do hover de nextButton */
.nextButton:hover {
  box-shadow: 0px 0px 6px grey;
}

/* Configurações do ícone de nextButton de Profile */
#profileButton .icon {
  color: var(--dark_blue);
}

/* A partir daqui contém as configurações da seção de gostos */

/* Configurações da seção de gostos */
#likes {
  position: relative;
}

/* Configurações do título da seção Gostos */
#likes h2 {
  margin: 1.5rem;
}

/* Configurações da seção de gostos */
#likes>div {
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

/* Configurações das divs de hobby */
.hobby {
  width: 100%;
  height: fit-content;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px var(--dark_purple) solid;
  box-shadow: -2px 2px 0 var(--dark_purple);
  text-align: justify;
}

/* Configurações iniciais do hobby de leitura */
#readHobby {
  grid-column: 1 / 3;
  width: 50%;
  justify-self: center;
  transition: none;
}

/* Configurações padrões dos ícones dentro de hobby */
.hobbyIcon {
  height: 6rem;
  min-height: 6rem;
  min-width: 6rem;
}

/* Configurações do botão da seção de gostos */
#likesButton {
  align-self: center;
  background-color: var(--white);
}

/* Configurações do ícone dentro do botão */
#likesButton .icon {
  color: var(--dark_purple);
}

/* A partir daqui contém as configurações da seção de experiências */

/* Configurações da seção de experiências */
#experiences {
  background-color: var(--background_blue);
}

/* Div que abriga os cards */
#experiences>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/* Configurações de card com imagem */
.card {
  padding: 2rem;
  border-radius: 1rem;
  text-align: justify;
  background-color: var(--white);
}

/* Configurações do hover dos cards */
.card:hover {
  box-shadow: -2px 2px 5px grey;
  cursor: pointer;
}

/* Configurações padrões da imagem do card */
.imageCard {
  border: red 1px solid;
  height: 14rem;
  border-radius: 0.7rem;
  width: 100%;
  margin-bottom: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Configurações para conhecer os projetos */
.findHere {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

/* Configurações dos ícones dos links */
.findHere .icon {
  color: var(--dark_blue);
}

/* Configurações do hover dos links */
.findHere .icon:hover {
  color: var(--blue);
  transform: scale(105%);
}


/* A partir daqui contém as configurações de responsividade */

/* Para dispositivos de até 1500px */
@media (max-width: 1500px) {

  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 30rem;
  }
}

/* Para dispositivos de até 1200px */
@media (max-width: 1200px) {}

/* Para dispositivos de até 1100px */
@media (max-width: 1100px) {

  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 25rem;
  }

  /* Div que abriga os cards */
  #experiences>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

/* Para dispositivos de até 1000px */
@media (max-width: 1000px) {

  /* Configurações padrões das seções */
  section {
    padding: 5rem 3rem;
  }

  /* Configurações do coonteúdo da seção de profile */
  #profile>div {
    gap: 2rem;
  }

  /* Configurações da seção de gostos */
  #likes>div {
    gap: 1rem;
  }

  /* Div que abriga os cards */
  #experiences>div {
    grid-template-columns: 1fr 1fr;
  }
}

/* Para dispositivos de até 900px */
@media (max-width: 900px) {

  /* Configurações padrões das seções */
  section {
    padding: 5rem 2rem;
  }
}

/* Para dispositivos de até 800px */
@media (max-width: 800px) {

  /* Configurações da seção de gostos */
  #likes>div {
    display: flex;
    flex-direction: column;
  }

  /* Configurações iniciais do hobby de leitura */
  #readHobby {
    width: 100%;
  }
}

/* Para dispositivos de até 700px */
@media (max-width: 700px) {

  /* Configurações padrões das seções */
  section {
    padding: 5rem 5rem;
  }

  /* Configurações do coonteúdo da seção de profile */
  #profile>div {
    flex-direction: column;
  }

  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 100%;
  }

  /* Div que abriga os cards */
  #experiences>div {
    grid-template-columns: 1fr;
  }
}

/* Para dispositivos de até 650px */
@media (max-width: 650px) {

  /* Configurações do cabeçalho */
  header {
    align-items: center;
  }

  /* Configurações de nav */
  .hideMenu {
    display: none;
  }

  /* Configurações do botão de menu hamburguer */
  #hamburgerMenuButton {
    display: flex;
  }

  /* Configurações do header para mobile */
  .mobileHeader {
    justify-content: flex-end;
  }
}

/* Para dispositivos de até 550px */
@media (max-width: 550px) {

  /* Configurações padrões das seções */
  section {
    padding: 3rem 2rem;
    flex-direction: column;
  }

  /* Configurações das divs de hobby */
  .hobby {
    flex-direction: column;
  }
}

/* Para dispositivos de até 550px */
@media (max-width: 300px) {

  /* Configurações do h1 */
  h1 {
    font-size: 24px;
  }

  /* Configurações padrões das seções */
  section {
    padding: 2rem 1rem;
  }

  /* Configurações da seção de profile */
  #profile {
    flex-direction: column;
  }

  /* Configurações para conhecer os projetos */
  .findHere {
    gap: 0.2rem;
    flex-wrap: wrap;
  }

}