/* Definindo variáveis das cores padrão */
:root {
  --light_blue: rgb(65, 160, 235);
  --dark_blue: #0a4673;
  --blue: rgb(30, 90, 135);
  --background_blue: rgb(212, 224, 230);
  --line_blue: rgb(212, 227, 234);

  --white: rgb(255, 255, 255);

  --background_purple: #F0DEFF;
  --purple: rgb(95, 30, 175);
  --dark_purple: #321072;
  --light_purple: rgb(140, 75, 220);

  --light_gray: rgb(225, 225, 225);
  --dark_gray: #141414;

  --bar_background: rgb(225, 220, 220);

  /* Cores das habilidades */
  --html_orange: #FF7D2D;
  --html_border_orange: #FFC6A3;

  --css_border_purple: #D7A8FD;

  --js_yellow: #f1c900;
  --js_border_yellow: #e5ce5b;

  --node_green: #489400;
  --node_border_green: #94c06c;

  --react_blue: #1eb7f9;
  --react_border_blue: #75b9d6;

  --py_blue: #0c4d97;
  --py_border_blue: #33659e;

  --sql_blue: #3f638d;
  --sql_border_blue: #5c7899;

  --java_red: #aa0606;
  --java_border_red: #b14a4a;

  --excel_green: #25661d;
  --excel_border_green: #4c8844;
}

/* Definindo configurações padrões para todos os elementos da página */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.5s;
  color: var(--dark_gray);
  scroll-behavior: smooth;
}

/* A partir daqui começam as configurações de alinhamento */

/* Configurações para alinhamento no centro */
.alignCenter {
  display: flex;
  justify-content: center;
}

/* Configurações de alinhamento em coluna */
.columnAlign {
  flex-direction: column;
}

/* A partir daqui começam as configurações do cabeçalho */

/* Configurações do cabeçalho */
header {
  background-color: var(--dark_blue);
  height: 5rem;
  padding: 1rem;
}

/* Configurações de nav dentro de Header */
header nav {
  gap: 1rem;
}

/* Configurações dos links dentro de navegação do Header */
header nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  padding: 1rem;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
}

/* Configurações de hover dos links em nav */
header nav a:hover {
  background-color: var(--blue);
}

/* Configurações do botão de menu hamburguer */
#hamburgerMenuButton {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  display: none;
  height: fit-content;
}

/* Configurações do ícone do botão do menu hamburger */
#hamburgerMenuButton .icon {
  color: var(--white);
}

/* A partir daqui começam as configurações do main */

/* Configurações padrão para todos os sections */
section {
  padding: 5rem;
  min-height: 95vh;
}

/* Configurações da seção de profile */
#profile {
  gap: 4rem;
  align-items: center;
  position: relative;
}

/* Configurações da div que abriga o conteúdo da seção profile */
#profile>div {
  gap: 4rem;
  align-items: center;
}

/* Configurações da div de sobre mim */
.aboutMe {
  display: flex;
  gap: 2rem;
  text-align: justify;
}

/* Configurações de h2 dentro de .aboutMe */
.aboutMe h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

/* Configurações de h1 dentro de .aboutMe */
.aboutMe h1 {
  font-size: 40px;
}

/* Configurações de p dentro de .aboutMe */
.aboutMe p {
  margin: 1.5rem 0;
  width: 80%;
  text-align: left;
}

/* Prévia das minhas habilidades dentro de .aboutMe */
.skillsPreview .icon {
  color: var(--dark_purple);
}

/* Configurações de hover do ícone de HTML */
#htmlIcon:hover {
  color: var(--html_orange);
}

/* Configurações de hover do ícone de CSS */
#cssIcon:hover {
  color: var(--purple);
}

/* Configurações de hover do ícone de JS */
#jsIcon:hover {
  color: var(--js_yellow);
}

/* Configurações de hover do ícone de Node.js */
#nodeIcon:hover {
  color: var(--node_green);
}

/* Configurações de hover do ícone de python */
#pyIcon:hover {
  color: var(--py_blue);
}

/* Configurações do texto de ano */
.year {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

/* Configurações da linha de separação */
.line {
  height: 1px;
  width: 100%;
  background-color: var(--line_blue);
  margin: 1.5rem 0;
}

/* Configurações de h2 */
h2 {
  margin: 1.5rem;
  text-align: center;
  font-weight: 700;
}

/* Configurações do h1 */
h1 {
  color: var(--blue);
}

/* Configurações da foto de perfil*/
.profilePhoto {
  aspect-ratio: 1 / 1;
  height: 30rem;
  object-fit: cover;
  border: 1px solid grey;
  border-radius: 1rem;
  box-shadow: 3px 3px var(--blue);
  border-radius: 50%;
  background-image: url(images/photo/myphoto.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* A partir daqui, estarão as configurações do nextButton */

/* Configurações de todos os botões */
.nextButton {
  position: absolute;
  bottom: -2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Configurações do nextButton de Profile */
#profileButton {
  background-color: var(--background_blue);
}

/* Configurações do hover de nextButton */
.nextButton:hover {
  box-shadow: 0px 0px 6px grey;
}

/* Configurações do ícone de nextButton de Profile */
#profileButton .icon {
  color: var(--dark_blue);
}

/* A partir daqui contém as configurações da seção de gostos */

/* Configurações da seção de gostos */
#likes {
  position: relative;
  background-color: var(--background_purple);
}

/* Configurações do h2 da seção de gostos */
#likes h2 {
  color: var(--dark_purple);
}

/* Configurações do texto na seção de gostos */
#likes p {
  text-align: center;
  margin-bottom: 3rem;
}

/* Configurações da seção de gostos */
#likes>div {
  gap: 3rem;
  flex-wrap: wrap;
}

/* Configurações das divs de hobby */
.hobby {
  height: fit-content;
  width: 15rem;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px var(--dark_purple) solid;
  box-shadow: -2px 2px 0 var(--dark_purple);
  background-color: var(--white);
}

/* Configurações padrões dos ícones dentro de hobby */
.hobbyIcon {
  height: 4rem;
  min-height: 4rem;
  min-width: 4rem;
}

/* Configurações do botão da seção de gostos */
#likesButton {
  align-self: center;
  background-color: var(--white);
}

/* Configurações do ícone dentro do botão */
#likesButton .icon {
  color: var(--dark_purple);
}

/* A partir daqui contém as configurações da seção de HABILIDADES */

/* Configurações do título da seção de habilidades */
#skills h2,
#culturePillar h2 {
  color: var(--dark_blue);
}

/* Configurações do texto da seção de habilidades */
section>p {
  text-align: center;
}

/* Configurações da grade de habilidades */
.skillsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
}

/* Configurações da div de Skill */
.skill {
  border: 1px grey solid;
  border-radius: 1rem;
  padding: 1.6rem;
  display: flex;
  box-shadow: -4px 4px 0 grey;
  gap: 1rem;
}

/* Configurações do conjunto de texto + nível da habilidade */
.textSkills {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

/* Configurações de span .bold */
.bold {
  font-weight: 700;
}

/* Configurações do fundo da barrinha de nível */
.levelback {
  height: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: var(--bar_background);
}

/* Configurações do preenchimento da barrinha de nível */
.levelFilling {
  background-color: grey;
  height: 0.5rem;
  width: 80%;
  border-radius: 0.25rem;
}

/* A partir daqui contém as configurações de cada habilidade */

/* HTML */
#htmlSkill .icon {
  color: var(--html_orange);
}

#htmlSkill .levelFilling {
  background-color: var(--html_orange);
}

#htmlSkill {
  border-color: var(--html_border_orange);
  box-shadow: -4px 4px 0 var(--html_border_orange);
}

/* CSS */
#cssSkill .icon {
  color: var(--dark_purple);
}

#cssSkill .levelFilling {
  background-color: var(--dark_purple);
}

#cssSkill {
  border-color: var(--css_border_purple);
  box-shadow: -4px 4px 0 var(--css_border_purple);
}

/* JS */
#jsSkill .icon {
  color: var(--js_yellow);
}

#jsSkill .levelFilling {
  background-color: var(--js_yellow);
}

#jsSkill {
  border-color: var(--js_border_yellow);
  box-shadow: -4px 4px 0 var(--js_border_yellow);
}

/* node.js */
#nodeSkill .icon {
  color: var(--node_green);
}

#nodeSkill .levelFilling {
  background-color: var(--node_green);
}

#nodeSkill {
  border-color: var(--node_border_green);
  box-shadow: -4px 4px 0 var(--node_border_green);
}

/* react native */
#reactSkill .icon {
  color: var(--react_blue);
}

#reactSkill .levelFilling {
  background-color: var(--react_blue);
}

#reactSkill {
  border-color: var(--react_border_blue);
  box-shadow: -4px 4px 0 var(--react_border_blue);
}

/* py */
#pySkill .icon {
  color: var(--py_blue);
}

#pySkill .levelFilling {
  background-color: var(--py_blue);
}

#pySkill {
  border-color: var(--py_border_blue);
  box-shadow: -4px 4px 0 var(--py_border_blue);
}

/* sql */
#sqlSkill .icon {
  color: var(--sql_blue);
}

#sqlSkill .levelFilling {
  background-color: var(--sql_blue);
}

#sqlSkill {
  border-color: var(--sql_border_blue);
  box-shadow: -4px 4px 0 var(--sql_border_blue);
}

/* java */
#javaSkill .icon {
  color: var(--java_red);
}

#javaSkill .levelFilling {
  background-color: var(--java_red);
}

#javaSkill {
  border-color: var(--java_border_red);
  box-shadow: -4px 4px 0 var(--java_border_red);
}

/* Excel */
#excelSkill .icon {
  color: var(--excel_green);
}

#excelSkill .levelFilling {
  background-color: var(--excel_green);
}

#excelSkill {
  border-color: var(--excel_border_green);
  box-shadow: -4px 4px 0 var(--excel_border_green);
}

/* word */
#wordSkill .icon {
  color: var(--py_blue);
}

#wordSkill .levelFilling {
  background-color: var(--py_blue);
}

#wordSkill {
  border-color: var(--py_border_blue);
  box-shadow: -4px 4px 0 var(--py_border_blue);
}

/* power bi */
#pbiSkill .icon {
  color: var(--js_yellow);
}

#pbiSkill .levelFilling {
  background-color: var(--js_yellow);
}

#pbiSkill {
  border-color: var(--js_border_yellow);
  box-shadow: -4px 4px 0 var(--js_border_yellow);
}

/* englishSkill */
#englishSkill .icon {
  color: var(--react_blue);
}

#englishSkill .levelFilling {
  background-color: var(--react_blue);
}

#englishSkill {
  border-color: var(--react_border_blue);
  box-shadow: -4px 4px 0 var(--react_border_blue);
}

/* A partir daqui contém as configurações da seção de experiências / Extracurriculares */

/* Configurações do título de experiences */
#experiences h2 {
  color: var(--dark_purple);
}

/* Configurações da seção de experiências */
#experiences {
  background-color: var(--background_purple);
}

/* Div que abriga os cards */
#experiences>div,
#extracurricular>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

/* Configurações de card com imagem */
.card {
  padding: 2rem;
  border-radius: 1rem;
  text-align: justify;
  background-color: var(--white);
  border: 1px solid var(--light_gray);
}

/* Configurações do hover dos cards */
.card:hover {
  box-shadow: -2px 2px 5px grey;
  cursor: pointer;
}

/* Configurações padrões da imagem do card */
.imageCard {
  background-color: var(--light_gray);
  height: 14rem;
  border-radius: 0.7rem;
  width: 100%;
  margin-bottom: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Configurações para conhecer os projetos */
.findHere {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

/* Configurações dos ícones dos links */
.findHere .icon {
  color: var(--dark_purple);
}

/* Configurações do hover dos links */
#extracurricular .findHere .icon:hover {
  color: var(--blue);
  transform: scale(105%);
}

/* Configurações dos ícones dos links */
#extracurricular .findHere .icon,
#extracurricular h2 {
  color: var(--dark_blue);
}

/* Configurações do hover dos links */
#extracurricular .findHere .icon:hover {
  color: var(--blue);
  transform: scale(105%);
}

/* A partir daqui contém as configurações da seção de pilar */
#culturePillar {
  background-color: var(--background_blue);
  align-items: center;
}

/* Configurações da div que abriga as informações do pilar */
#culturePillar>div {
  margin-top: 2rem;
  background-color: white;
  padding: 3rem;
  width: 60%;
  border-radius: 1rem;
  height: 20rem;
  text-align: center;
}

/* Configurações de h3 dentro de div */
#culturePillar>div>h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 2rem;
  color: var(--dark_blue);
}

/* A partir daqui contém as configurações da despedida */

/* Configurações da seção de despedida */
#farewell {
  background-color: var(--dark_blue);
}

/* Configurações dos textos da seção */
#farewell h2,
#farewell p {
  color: var(--white);
}

/* A partir daqui contém as configurações de responsividade */

/* Para dispositivos de até 1500px */
@media (max-width: 1500px) {

  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 30rem;
  }
}

/* Para dispositivos de até 1400px */
@media (max-width: 1400px) {

  /* Configurações de p dentro de .aboutMe */
  .aboutMe p {
    width: 100%;
  }
}

/* Para dispositivos de até 1300px */
@media (max-width: 1300px) {

  /* Configurações da grade de habilidades */
  .skillsGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Para dispositivos de até 1200px */
@media (max-width: 1200px) {

  /* Configurações da foto de perfil*/
  .profilePhoto {
    height: 25rem;
    width: 25rem;
  }

  /* Configurações de h2 dentro de .aboutMe */
  .aboutMe h2 {
    font-size: 18px;
  }

  /* Configurações de h1 dentro de .aboutMe */
  .aboutMe h1 {
    font-size: 30px;
  }
}

/* Para dispositivos de até 1100px */
@media (max-width: 1100px) {

  /* Div que abriga os cards */
  #experiences>div,
  #extracurricular>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

/* Para dispositivos de até 1000px */
@media (max-width: 1000px) {

  /* Configurações padrões das seções */
  section {
    padding: 5rem 3rem;
  }

  /* Configurações do coonteúdo da seção de profile */
  #profile>div {
    gap: 2rem;
  }

  /* Configurações da seção de gostos */
  #likes>div {
    gap: 1rem;
  }

  /* Div que abriga os cards */
  #experiences>div,
  #extracurricular>div {
    grid-template-columns: 1fr 1fr;
  }

  /* Configurações da foto de perfil*/
  .profilePhoto {
    height: 20rem;
    width: 20rem;
  }

  /* Configurações da div que abriga as informações do pilar */
  #culturePillar>div {
    height: auto;
    width: 80%;
  }
}

/* Para dispositivos de até 900px */
@media (max-width: 900px) {

  /* Configurações padrões das seções */
  section {
    padding: 5rem 2rem;
  }

  /* Configurações da grade de habilidades */
  .skillsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Para dispositivos de até 800px */
@media (max-width: 800px) {

  /* Configurações do coonteúdo da seção de profile */
  #profile>div {
    flex-direction: column-reverse;
  }

  /* Configurações da foto de perfil*/
  .profilePhoto {
    height: auto;
    width: 60%;
  }

  /* Configurações de p dentro de .aboutMe */
  .aboutMe p,
  .aboutMe h1,
  .aboutMe h2 {
    text-align: center;
  }

  /* Configurações de div dentro de .aboutMe */
  .aboutMe>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  /* Configurações da div que abriga as informações do pilar */
  #culturePillar>div {
    width: 100%;
  }

  /* Configurações de nav dentro de Header */
  .hideMenu {
    position: fixed;
    inset: 0;

    z-index: 10;
    top: 5rem;
    left: 0;
    background-color: var(--dark_blue);
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0;
    justify-content: flex-start;

    display: flex;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* Configurações do Menu quando estiver ativo */
  .hideMenu.ativo {
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    opacity: 1;
  }


  /* Configurações dos links dentro de NAV */
  .hideMenu a {
    justify-content: center;
    border-radius: 0;
    padding: 2rem 0;
  }

  /* Configuração para o menu não */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  /* Configurações do botão de menu hamburguer */
  #hamburgerMenuButton {
    display: flex;
  }

  /* Configurações de header */
  header {
    justify-content: flex-end !important;
    align-items: center;
  }
}

/* Para dispositivos de até 700px */
@media (max-width: 700px) {

  /* Configurações padrões das seções */
  section {
    padding: 5rem 5rem;
  }

  /* Div que abriga os cards */
  #experiences>div,
  #extracurricular>div {
    grid-template-columns: 1fr;
  }

  /* Configurações da grade de habilidades */
  .skillsGrid {
    gap: 1rem;
  }
}

/* Para dispositivos de até 650px */
@media (max-width: 650px) {

  /* Configurações do cabeçalho */
  /* header {
    align-items: center;
  } */

  /* Configurações do header para mobile */
  .mobileHeader {
    justify-content: flex-end;
  }

  /* Configurações da grade de habilidades */
  .skillsGrid {
    grid-template-columns: 1fr;
  }
}

/* Para dispositivos de até 550px */
@media (max-width: 550px) {

  /* Configurações padrões das seções */
  section {
    padding: 5rem 2rem;
    flex-direction: column;
  }

  /* Configurações das divs de hobby */
  .hobby {
    flex-direction: column;
  }

  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 80%;
  }
}

/* Para dispositivos de até 550px */
@media (max-width: 300px) {

  /* Configurações do h1 */
  h1 {
    font-size: 24px;
  }

  /* Configurações padrões das seções */
  section {
    padding: 5rem 1rem;
  }

  /* Configurações da seção de profile */
  #profile {
    flex-direction: column;
  }

  /* Configurações para conhecer os projetos */
  .findHere {
    gap: 0.2rem;
    flex-wrap: wrap;
  }

  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 100%;
  }

  /* Configurações da div de habilidades */
  .skill {
    padding: 1rem 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .skill .icon {
    transform: scale(80%);
  }

}