/* Definindo variáveis das cores padrão */
:root {
  --light_blue: rgb(65, 160, 235);
  --dark_blue: rgb(10, 70, 115);
  --blue: rgb(30, 90, 135);
  --background_blue: rgb(240, 250, 255);
  --line_blue: rgb(212, 227, 234);

  --white: rgb(255, 255, 255);

  --background_purple: rgb(225, 215, 240);
  --purple: rgb(95, 30, 175);
  --dark_purple: rgb(50, 16, 114);
  --light_purple: rgb(140, 75, 220);

  --dark_gray: rgb(20, 20, 20);
}

/* Definindo configurações padrões para todos os elementos da página */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.5s;
  color: var(--dark_gray);
}

/* A partir daqui começam as configurações de alinhamento */

/* Configurações para alinhamento no centro */
.alignCenter {
  display: flex;
  justify-content: center;
}

/* Configurações de alinhamento em coluna */
.columnAlign {
  flex-direction: column;
}

/* A partir daqui começam as configurações do cabeçalho */

/* Configurações do cabeçalho */
header {
  background-color: var(--dark_blue);
  height: 5rem;
  padding: 1rem;
}

/* Configurações de nav dentro de Header */
header nav {
  gap: 1rem;
}

/* Configurações dos links dentro de navegação do Header */
header nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  padding: 1rem;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
}

/* Configurações de hover dos links em nav */
header nav a:hover {
  background-color: var(--blue);
}

/* Configurações do botão de menu hamburguer */
#hamburgerMenuButton {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  display: none;
  height: fit-content;
}

/* Configurações do ícone do botão do menu hamburger */
#hamburgerMenuButton .icon {
  color: var(--white);
}

/* A partir daqui começam as configurações do main */

/* Configurações padrão para todos os sections */
section {
  padding: 2rem;
  min-height: 90vh;
  background-color: var(--background_blue);
}

/* Configurações da seção de profile */
#profile {
  min-height: 90vh;
  padding: 5rem;
  gap: 4rem;
}

/* Configurações da div que abriga o conteúdo da seção profile */
#profile > div {
  gap: 4rem;
}

/* Configurações da div de informações em profile */
.profileInfo {
  gap: 1rem;
  /* align-items: flex-start; */
  text-align: center;
  justify-content: flex-start;
}

/* Configurações do nome e da descrição em profile */
.profileInfo h1,
.profileInfo p {
  width: 100%;
}

/* Configurações da div de sobre mim */
.aboutMe {
  display: flex;
  gap: 2rem;
  text-align: justify;
}

/* Configurações do texto de ano */
.year {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

/* Configurações da linha de separação */
.line {
  height: 1px;
  width: 100%;
  background-color: var(--line_blue);
  margin: 2rem 0;
}

/* Configurações de h2 */
h2 {
  margin-bottom: 0.5rem;
}

/* Configurações do h1 */
h1 {
  color: var(--blue);
}

/* Configurações da foto de perfil*/
.profilePhoto {
  aspect-ratio: 13 / 9;
  width: 35rem;
  object-fit: cover;
  border: 1px solid grey;
  border-radius: 1rem;
  box-shadow: -3px 3px var(--blue);
}

/* A partir daqui contém as configurações de responsividade */

/* Para dispositivos de até 1500px */
@media (max-width: 1500px) {
  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 30rem;
  }
}

/* Para dispositivos de até 1100px */
@media (max-width: 1100px) {
  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 25rem;
  }
}

/* Para dispositivos de até 1000px */
@media (max-width: 1000px) {
  /* Configurações da seção de profile */
  #profile {
    padding: 5rem 3rem;
  }

  /* Configurações do coonteúdo da seção de profile */
  #profile > div {
    gap: 2rem;
  }
}

/* Para dispositivos de até 900px */
@media (max-width: 900px) {
  /* Configurações da seção de profile */
  #profile {
    padding: 5rem 2rem;
  }
}

/* Para dispositivos de até 700px */
@media (max-width: 700px) {
  /* Configurações da seção de profile */
  #profile {
    padding: 5rem 5rem;
  }

  /* Configurações do coonteúdo da seção de profile */
  #profile > div {
    flex-direction: column;
  }

  /* Configurações da foto de perfil*/
  .profilePhoto {
    width: 100%;
  }
}

/* Para dispositivos de até 650px */
@media (max-width: 650px) {
  /* Configurações do cabeçalho */
  header {
    align-items: center;
  }

  /* Configurações de nav */
  .hideMenu {
    display: none;
  }

  /* Configurações do botão de menu hamburguer */
  #hamburgerMenuButton {
    display: flex;
  }

  /* Configurações do header para mobile */
  .mobileHeader {
    justify-content: flex-end;
  }
}

/* Para dispositivos de até 550px */
@media (max-width: 550px) {
  /* Configurações da seção de profile */
  #profile {
    padding: 3rem 2rem;
    flex-direction: column;
  }
}

/* Para dispositivos de até 550px */
@media (max-width: 300px) {
  /* Configurações do h1 */
  h1 {
    font-size: 24px;
  }

  /* Configurações da seção de profile */
  #profile {
    padding: 2rem 1rem;
    flex-direction: column;
  }
}
